<head>
    <title>Flower Google</title>

    <link rel="stylesheet" type="text/css" href="./styles.css">
  </head>
  
  <body>
    <!-- GOOGLE IMG -->  
    <div class="google">
      <a href="#" id="google_logo"><img src="http://i1381.photobucket.com/albums/ah215/mzartdesigns/google-logo_zpspkcztsjo.png" alt=" photo google-logo_zpspkcztsjo.png"/></a>
    </div>
    
    <!-- FORM SEARCH -->  
    <div class="form">  
      <form method="POST", enctype="multipart/form-data">
        <label for="form-search"></label>
        <input type="file" name="image_up" id="image_up" placeholder="Upload your picture to AI it">
        <input type="submit" value="Upload" id="Upload">
      </form>
    </div>  
    
  </body>